.header{
    height: 80px;
    padding: 0px 40px;

    background-color: var(--grey-8);

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.main{
    padding: 40px 60px;

    display: flex;
    align-items: center;
    gap: 145px;
}

.containerMessage{
    width: 330px;
    height: 170px;
    padding: 40px 50px;

    border: 2px solid var(--grey-4);
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    gap: 40px;
}

.titleMessage{
    font-size: 20px;
    font-weight: 500;
}

.textMessage{
    font-size: 14px;
    color: var(--grey-3);
    line-height: 150%;
}

.headerList{
    min-width: 770px;
    margin-bottom: 16px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userItem{
    
}